*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table{
    padding:20px;
    width: 100%;
    border-collapse: collapse;
}

th,td{
    padding: 8px;
    text-align: left;
    border: 1px solid #000;
}
tr:nth-child(even) {
    background-color: #c3bebe;
  }
.buttonContainer{
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
button{
    padding: 1px;
    background-color: #000;
    width: 90px;
}